@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

*{
    margin: auto;
}

.container{
    background-color: #c342420f;
    padding: 2%;
    margin: 0 2% 0 2%;
    border-radius: 2%;

}

.container p{
    padding: 3%;
    line-height: 2;
    font-family: 'Kurale', serif;

}

.container .titre h3{
    padding: 1% 0 1% 0;
    background-color: #F68C74;
    width: 25%;
    text-align: center ;
    border-radius: 20px;
    color: white;
    font-family: 'Kurale', serif;
}
.container .titre{
    display: flex;
    justify-content: center;
}

.container img{
    width: 100%;
}
