*{
    margin: 10;
    padding: 0;
  
  }
  
  
  
  ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 5% 10%;
    overflow: hidden;
  
  
  }
  li a img{
    width: 20px;
  }
  
  li img{
    width: 100px;
  }
  
  li svg{
    color: #5f2525;
  }
  li a{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  
  li a:hover {
    background-color: #146c8b;
  }
  
  .search-bar{
    display: flex;
    align-items: center;
  margin-left: 38%;
   border: solid;
   max-width: 30%;
   height: 50px;
   background-color: #F39C94 ;
   border: none;
   margin-bottom: 5%;
  }
  .search-bar input{
    width: 80%;
    height: 100%;
    border: none;
    border-right:solid rgb(255, 255, 255) ;
    background-color: #d7d7d7;
  }
  .search-bar svg{
    width: 10%;
  }

.texte h2{
    color: #FF0303;
    display: flex;
   
    justify-content: center;
}

h4{
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
  
}
h4 p{
    color: #FF0303;

}
h4{
    color: #000;
}

a {
    text-decoration: none;
}

.haut{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

.bloc1 img{
    width: 100px;
}
.haut .bloc1 button{
    border: none;
    padding: 10%;
    font-size: 10px;
}

button a{
    text-decoration: none;
    color: #000;
}

.bas{
    display: flex;
    justify-content: space-around;
}

.bas .bloc1 button{
    border: none;
    padding: 15%;
    font-size: 10px;
}


hr{
    margin-top: 10%;
  }
  .top{
    display: flex;
    justify-content: space-between;
    margin: 1% 10% 2% 10%;
  }
  .top a{
    text-decoration: none;
    color: #000;
  }
  .img-link a img{
    width: 150px;
  }
  .img-place img map{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .img-place img{
    width: 30px;
  }
  
  .img-place map{
    margin-top: -9%;
    font-size: 12px;
    display: flex;
    text-align: center;
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 2% 7%;
  
  }
  .bottom a{
    text-decoration: none;
    color: #000;
  }
  .img-mail img{
    width: 30px;
  }
  .img-mail img a{
  
  }
  .img-wha img{
    width: 30px;
  }
  
  .icones-link img{
    width: 30px;
  }